@import url('https://fonts.googleapis.com/css2?family=Georama:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: Georama, sans-serif;
}
body {
  background: #F8F5F1;
  height: 100vh;
  
}
h1 {
  color: #2D2424;
}
.App {
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  
}
.container {
  text-align: center;
  width: 50%;
  height: auto;
  background: #ffff;
  border-radius: 4px;
  padding: 40px 0;
}
input {
  color: #2D2424;
  width: 60%;
  height: 30px;
  padding: 5px 10px;
  font-weight: 600;
  outline: none;
  background: #F8F1F1;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-top: 30px;
  text-transform: capitalize;
}
input::placeholder {
  font-weight: 600;
  text-transform: none;
}
.btn {
  height: 40px;
  width: 10%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  cursor: pointer;
  color: black;
  background: #EE6F57;
  transition: background .3s ease-in-out;
  transition: color .2s ease-in-out;
  font-weight: 500;
  letter-spacing: 1px;
}
.btn:hover {
 background: #CB3737;
 color: #fff;
}
.btn2 {
  background: none;
  color: #D32626;
  border: none;
  cursor: pointer;
  margin-top: 50px;
  letter-spacing: 1px;
  font-weight: 500;
}
.item-count {
  font-size: 12px;
  color: #444444;
  margin-top: 10px;
}
.item-container {
  background: none;
  margin: 10px auto;
  width: 70%;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  transition: background .3s ease-in-out;
}
.item-container button{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  
}
 .delete {
  width: 20px;
}
.delete{
 fill: #D32626;
}
.item-container:hover {
  
  background: #F8F1F1;
  
}
.item {
  text-transform: capitalize;
}
.loading{
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: #EE6F57;
}
.circle-container {
  display: grid;
  grid-template-columns: 30px 30px 30px;
}
.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  opacity: .3;
  transition: opacity ease .3s;
  animation-name: animate;
  animation-duration: .4s;
  animation-iteration-count: 10;
  animation-direction: alternate;
}

.circle-2 {
  animation-delay: .05s;
}
.circle-3 {
  animation-delay: .1s;
}
.alert {
  margin: 0 auto 10px;
  width: 70%;
  padding: 3px;
  font-size: 11px;
  border-radius: 3px;
  transition: all .3s ease;
}



@keyframes animate {
 0% {
   opacity: .3;
   width: 15px;
   height: 15px;
 }
 100% {
   opacity: 1;
   width: 20px;
   height: 20px;
 }
 
}




@media (max-width: 1025px) and (min-width:800px) {
  .container {
    width: 60%;
  }
  input {
    width: 65%;
  }
  .btn {
    width: 13%;
  }
  .item-container{
    width: 78%;
    font-size: 14px;
  }
  .btn2{
    font-size: 12px;
    margin-top: 20px;
  }
}

@media (max-width: 799px) and (min-width:600px) {
  .container {
    width: 65%;
    padding: 40px 20px;
  }
  input {
    width: 70%;
  }
  .btn {
    width: 16%;
  }
  .item-container{
    width: 86%;
    font-size: 13px;
  }
  .btn2{
    font-size: 12px;
    margin-top: 20px;
  }
}

@media (max-width: 599px) and (min-width:400px) {
  .container {
    width: 70%;
    padding: 40px 20px;
  }
  input {
    width: 70%;
    font-size: 12px;
  }
  .btn {
    width: 18%;
    font-size: 12px;
  }
  h1{
    font-size: 20px;
  }
  .item-count {
    font-size: 10px;
  }
  .item-container{
    width: 88%;
    font-size: 11px;
  }
  .delete{
    width: 10px;
  }
  .btn2{
    font-size: 10px;
    margin-top: 20px;
  }
  .alert {
    font-size: 9px;
    padding: 2px;
  }
}

@media (max-width: 399px) and (min-width:270px) {
  .container {
    width: 78%;
    padding: 20px 20px;
  }
  input {
    width: 70%;
    font-size: 10px;
    height: 27px;
    padding: 3px 8px;
  }
  .btn {
    width: 18%;
    font-size: 9px;
    height: 33px;
    margin-left: -3px;
  
  }
  h1{
    font-size: 20px;
  }
  .item-count {
    font-size: 10px;
  }
  .item-container{
    width: 88%;
    font-size: 11px;
    padding: 7px;
  }
  .delete{
    width: 9px;
  }
  .btn2{
    font-size: 10px;
    margin-top: 20px;
  }
  .alert {
    font-size: 8px;
    padding: 2px;
  }
}
